<div class="sticky">
  <div >
    <h6>Category</h6>
    <hr />
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"> Women's </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"> Men's </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"> Kids </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Furniture
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Electronics</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"
        >Covid care
      </label>
    </div>
    <hr />

    <div>
      <h6>Price</h6>
      <hr />

      <select #minPrice name="min" class="form-control mb-2">
        <option value="100">Min Price</option>
      </select>
      <select #maxPrice name="max" class="form-control mb-2" id="">
        <option value="100">Max Price</option>
      </select>

      <div class="mb-2">
        <button class="btn-block btn btn-sm btn-light border rounded">
          Filter
        </button>
      </div>
      <div class="mb-2">
        <button
          routerLink=""
          class="btn-block btn btn-sm btn-light border rounded"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
