<div class="container">
    <div class="demo-card-square mdl-card mdl-shadow--2dp" [formGroup]="loginForm" *ngIf="!isLoginFlag">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Login</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput formControlName="loginEmail">
          </mat-form-field>
              <span *ngIf="emailIdMissing" class="error">Email id is Required</span>
              <span *ngIf="emailIdWrong" class="error">Email id should be of type @gmail.com</span>
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="loginPwd">
              </mat-form-field>
              <span *ngIf="passwordMissing" class="error">Password is Required</span>
              <span *ngIf="PasswordWrong" class="error">Password is wrong</span>
              <button (click)="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Login
              </button>
              <span class="helper-line" (click)="openSignUp()">Sign up</span>
        </div>
      </div>

      <div class="demo-card-square mdl-card mdl-shadow--2dp" [formGroup]="signupForm" *ngIf="isLoginFlag">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text ">Sign up</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput formControlName="sgEmail">
          </mat-form-field>
              <span *ngIf="emailIdMissing" class="error">Email id is Required</span>
              <span *ngIf="emailIdWrong" class="error">Email id should be of type @gmail.com</span>
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="sgPwd">
              </mat-form-field>
              <span *ngIf="passwordMissing" class="error">Password is Required</span>
              <span *ngIf="PasswordWrong" class="error">Password is wrong</span>
              <!--<mat-form-field >
                <mat-label>Name</mat-label>
                <input matInput type="name" formControlName="name">
              </mat-form-field>
              <mat-form-field >
                <mat-label>username</mat-label>
                <input matInput type="username" formControlName="username">
              </mat-form-field>
              <mat-form-field >
                <mat-label>Phone</mat-label>
                <input matInput type="phone" formControlName="phone">
              </mat-form-field>-->
              <button (click)="signup()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Sign up
              </button>
              <span class="helper-line" (click)="openLogIn()">Already have an account</span>
        </div>
      </div>
</div>
