/* 
.container{
    margin: 20px ;
    text-align: center; 
    align-items: center;
    padding: 100px;
}


.routes{
    
    padding: 20px;
    align-items: center;
    text-align: center;
}

button{
    margin: 2px;
    left:2px
}

body{
   background-image:url();
} */

#header{
    margin: 10px ;
    text-align: center; 
    align-items: center;
    padding: 25px; 
    font-family:'Courier New', Courier, monospace;  
}
button{
    margin: 2px;
    left: 3px;
}

.routes{
    
    padding: 0px;
    align-items: center;
    text-align: center;
}
.bg-img{
    min-height: 100vh;
   width: 100%;
   background: url('../../../src/assets/train.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

   .container{
    /* margin: 20px ; */
    text-align: center; 
    align-items: center;
    /* padding: 100px; */
    background-color: black;
    color: aliceblue;
}