<div class="container">
    <div class="options">
        <a  [ngStyle]="currentTab === 0 ? {'background-color':'rgba(0,0,0,0.4)' , 'color':'white'} : {'background-color':'transparent', 'color':'black'}" (click)="changeCurrentTab(0)">All Employees</a>
        <a [ngStyle]="currentTab === 1 ? {'background-color':'rgba(0,0,0,0.4)' , 'color':'white'} : {'background-color':'transparent', 'color':'black'}" (click)="changeCurrentTab(1)">Add Employee</a>
        <a [ngStyle]="currentTab === 2 ? {'background-color':'rgba(0,0,0,0.4)' , 'color':'white'} : {'background-color':'transparent', 'color':'black'}" (click)="changeCurrentTab(2)">Edit Employee</a>
    </div>
    <div *ngIf="currentTab === 0" class="tabs rooms">
        <!--<h2>View Employees</h2>-->
        <mat-accordion>
          <mat-expansion-panel class="expansionPanel" *ngFor="let room of allEmployees" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 class="title">Name: {{room.name}}</h3>
              </mat-panel-title>
              <mat-panel-description>
                <h3 class="subtitle">Job Profile: {{room.jobprofile}}</h3>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="body">
              <div class="body-container">
                <div class="column">
                  <p><span class="bold">Email:</span> {{room.email}}</p>
                  <p><span class="bold">Phone </span>{{room.phone}}</p>
                  <p><span class="bold">Age: </span>{{room.age}}</p>
                  <p><span class="bold">Gender: </span>{{room.gender}}</p>
                  <p><span class="bold">Address: </span>{{room.address}}</p>
                </div>
              </div>
              <div class="buttons">
                <button (click)="deleteRoom(room.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Delete
                </button>
                <button (click)="editRoom(room.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Edit
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
          
    </div>
    
    <div *ngIf="currentTab === 1" class="tabs addRooms">
        <div class="container">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Add Employee</h2>
                  </div>
                <div class="mdl-card__supporting-text">
                      <div class="form" [formGroup]="roomForm" >
                        <mat-form-field >
                          <mat-label>Name</mat-label>
                          <input matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Job Profile</mat-label>
                          <input matInput formControlName="jobprofile">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Phone</mat-label>
                          <input matInput formControlName="phone">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Age</mat-label>
                          <input matInput formControlName="age">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Gender</mat-label>
                          <input matInput formControlName="gender">
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>Address</mat-label>
                          <input matInput formControlName="address">
                        </mat-form-field>

                        <button (click)="addRoom()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Add Employee
                        </button>
                      </div>
                </div>
              </div>
    
        </div>
        
    </div>
    <div *ngIf="currentTab === 2" class="tabs editRoom">
      <div class="mdl-card">
        <div class="mdl-card__title editTitle">
          <span> <span class="title"> Name: </span> <span class="regular-text">{{currentRoom.name}}</span></span>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="form" [formGroup]="editForm" >
            <mat-form-field >
              <mat-label>Job Profile</mat-label>
              <input matInput formControlName="jobprofile">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Age</mat-label>
              <input matInput formControlName="age">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Address</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>
          </div>
        </div>
        <div class="mdl-card__actions buttons_edit">
          <button (click)="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Save
          </button>
        </div>
    </div>
    </div>
</div>