<div class="container">
    <div class="header">
        <div class="nav">
            <div class="logo">Booker _</div>
        </div>
        <div class="header-body">
            <h1>Management Made Easy</h1>
            <h3>Hassle Free HRMS</h3>
        </div>
    </div>
    <div class="body">
        <div class="links">
            <h3>Select one to get started!</h3>
            <div class="boxes">
                
                <div (click)="routeAdmin()" class="box" id="admin">Admin</div>
                <div (click)="routeManager()" class="box" id="manager">Manager</div>
                <div (click)="routeReceptionist()" class="box" id="receptionist">Receptionist</div>
            </div>
        </div>
    </div>
    <div class="footer">
        powered by - ANEETA
    </div>
</div>
