<body>
<div class="container" >
    <h1 id="header">Welcome to Railway Reservation System</h1>
  
  <div class="routes">
    <button  mat-raised-button color="accent" (click)="getregister()">Register</button>
    <button mat-raised-button color="accent"  (click)="getlogin()">Login</button>
    <button mat-raised-button color="accent"(click)="searchTrain()">Search For Train</button>
  
    
  </div>
   <h3><marquee behavior="scroll" direction="left">Please register yourself for Reservation</marquee></h3>
  </div>
  <div class="bg-img">
  </div>
  
</body>

