<div class="container">
    <div class="options">
        <a>All Rooms</a>
    </div>
    <div *ngIf="currentTab === 0" class="tabs rooms">
        <h2>View Rooms</h2>
        <mat-accordion>
            <mat-expansion-panel class="expansionPanel" *ngFor="let room of allRooms" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 class="title">Room Number: {{room.roomnumber}}</h3>
                </mat-panel-title>
                <mat-panel-description>
                  <h3 class="subtitle">Floor: {{room.floor}}</h3>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="body">
                <div class="body-container">
                  <div class="column">
                    <p><span class="bold">Type:</span> {{room.type}}</p>
                    <p><span class="bold">Price </span>{{room.price}}</p>
                    <p><span class="bold">Availability: </span>{{room.availability}}</p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>  
    </div>
</div>
