<div class="fullpage">
    <div class="text-center login-container">
      <div class="card text-black bg-light mb-3" style="max-width: 20rem;" id="main">
      <form class="form-signin" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="text"
          class="form-control"
          placeholder="Email address"
          required=""
          autofocus=""
          name="email"
          email
          [(ngModel)]="passengerModel.email"
          #email="ngModel"
          [class.is-invalid]="!email.valid && !email.pristine"
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required=""
          name="password"
          [(ngModel)]="passengerModel.password"
          #password="ngModel"
          [class.is-invalid]="!password.valid && !password.pristine"
        />
        <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit"  [disabled]="!loginForm.form.valid" (click)='reserve()'>Log in</button>
        <p>
          New User?Lets register for our system!!
          <a class="mt-3 btn btn-block btn-outline-success" routerLink="/register">Register</a>
        </p>
      </form>
    </div>
  </div>
  </div>
  
   