<h1>Hotel Management System</h1>
<div class="text-container">
  <p>Welcome to</p>
  <p>Hotel GoldenView</p>
  <br>
  <button class="hire-btn">Login</button>
  <button class="down-cv">Sign Up</button>
</div>
<img
  alt="hotel"
  style="
    width: 700px;
    height: 450px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px grey;
  "
  class="model"
  src="https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg"
/>

<div class="about-container">
  <!--img-->
  <img src="https://wallpaperaccess.com/full/1496231.jpg" />
  <!--about-me-text-->
  <div class="about-text">
    <p>About Hotel GoldenView</p>

    <p>
      GoldenView Hotels is a chain of luxury hotels and a subsidiary of the Indian Hotels Company Limited, 
      headquartered in Mumbai. Incorporated by the founder of the Tata Group, 
      Jamsetji Tata, in 1903, the company is a part of the Tata Group, one of India's largest business conglomerates.
      We believe in employee satisfaction. This website is here for all your needs.
    </p>
  </div>
</div>
<app-footer></app-footer>
