<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <div class="glass"></div>
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Receptionist Console</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" routerLink="/receptionist/booking">Bookings</a>
          <a class="mdl-navigation__link" routerLink="/receptionist/room">Rooms</a>
          <a class="mdl-navigation__link" *ngIf="!loginservice.getloginFlagVal()" routerLink="/receptionist">Login</a>
          <a class="mdl-navigation__link" *ngIf="loginservice.getloginFlagVal()" (click)="logout()" routerLink="/">Log Out</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Welcome!</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/receptionist/booking">Bookings</a>
          <a class="mdl-navigation__link" routerLink="/receptionist/room">Rooms</a>
          <a class="mdl-navigation__link" *ngIf="!loginservice.getloginFlagVal()" routerLink="/receptionist">Login</a>
          <a class="mdl-navigation__link" *ngIf="loginservice.getloginFlagVal()" (click)="logout()" routerLink="/">Log Out</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Copyright © 2021 Aneeta Ann John</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      </footer>
  </div>